@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  font-family: 'Inter', sans-serif;
} */

html,
body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;

}

